<%- include('header.ejs') %>

<body>
  <div>
    <h1><%= __("An error occurred!") %></h1>
    <div>
      <p><%= __("Message:") %> <%= __(message) %></p>
    </div>
    <div>
      <h3><%= __("Info of error:") %></h3>
      <p>
        <%= __("There is an error under status: ") %> <%= __(error.status) %>
      </p>
    </div>
  </div>
</body>
