<%- include("header.ejs") %>
    <h1> <%= title %></h1>

    <p><%= __("Tienda de productos de segunda mano") %></p>

    <div class="container">
      <% results.forEach(function(product) { %>
        <div class="item">
          <div class="item_name"><%= product.name %></div>
          <div class="item_product"><%= __("Venta:") %> <%= product.sales %></div>
          <div class="item_price"><%= __("Precio:") %> <%= product.price %></div>
          <img src="<%= product.picture %>" alt="<%= product.name %>">
          <p><%= __("Tags:") %> <%= product.tags.join(', ') %></p>
        </div>
      <% }); %>
    
      <% if (results.length === 0) { %>
        <p><%= __("No hay productos") %></p>
      <% } %>
    </div>
    
  </body>
  
  </body>
  </html>
